[user]
	email = lucas.g.allen@gmail.com
	name = Lucas Allen

[core]
  editor = vim
[init]
	defaultBranch = main

# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
[include]
  path = ~/.config/netlify/helper/git-config
